body {
  background-color: black;

}

nav {
  background-color: blue;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  list-style: none;
}

nav li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
}

nav li a:hover {
  color: black;
  text-decoration: none;
}

.avatar {
  width: 85%;
  border-bottom: 1px rgba(0, 0, 0, 0.125);
}

.avatar-ctn {
background-color: orange;
text-align: center;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}

.cart a {
  background-color: grey;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
